<div class="onlinePeople">
  <div class="onlineHeader">
    <span class="onlineText">Online</span>
  </div>
  <div class="onlineBody">
       <div class="onlineBodyCon">
         <div class="leftOn">
           <span class="imageOn">
             <img src="../../../assets/image post/teenp7.jpg" alt="">
           </span>
           <span class="nameAddOn">
             <span class="nameOn">Henary Ford</span>
             <span class="addOn">USA, New York</span>
           </span>
         </div>
         <div class="rightOn">
           <span class="messageOn">
             <button>Message</button>
           </span>
         </div>
       </div>




       <div class="onlineBodyCon">
          <div class="leftOn">
            <span class="imageOn">
              <img src="../../../assets/image post/teenp7.jpg" alt="">
            </span>
            <span class="nameAddOn">
              <span class="nameOn">Henary Ford</span>
              <span class="addOn">USA, New York</span>
            </span>
          </div>
          <div class="rightOn">
            <span class="messageOn">
              <button>Message</button>
            </span>
          </div>
        </div>



        <div class="onlineBodyCon">
            <div class="leftOn">
              <span class="imageOn">
                <img src="../../../assets/image post/teenp7.jpg" alt="">
              </span>
              <span class="nameAddOn">
                <span class="nameOn">Henary Ford</span>
                <span class="addOn">USA, New York</span>
              </span>
            </div>
            <div class="rightOn">
              <span class="messageOn">
                <button>Message</button>
              </span>
            </div>
          </div>



  </div>
  <div class="onlineFooter">

  </div>
</div>
