<div class="imgPost">
   <div class="imgp1">
     <div class="imageName">
        <span class="imagePerson">
          <img src="../../../assets/profilePicture/teenp1.jpg" alt="">
        </span>
        <span class="nameLocation">
          <span class="name">Adam Henary</span>
          <span class="location">USA, New York</span>

        </span>
     </div>

     <div class="postTimeDiv">     <span class="postTime">5 Min</span>
           </div>
   </div>
   <div class="imgp2">
     <img src="../../../assets/image post/img post 1.JPG" alt="" class="img-fluid">
   </div>
   <div class="imgp3">
     <div class="likeComments">
          <span class="likes"> <img src="../../../assets//image post/main likes.png" alt="">

          </span><span class="likesNumber">32K</span>
          <span class="comments"><img src="../../../assets/image post/comments saved.png" alt=""></span>
     </div>
     <div class="save">
       <span class="saved">  <img src="../../../assets/image post/save home.png" alt=""></span>
      </div>
   </div>
   <div class="imgp4">
     <span class="userName">Adam Henary</span><span class="userText">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, numquam.
     </span>
   </div>
   <div class="imgp5">
     <p class="comment">
       Comments
     </p>
   </div>
   <div class="imgp6">
     <p class="commentsUser">
        <span class="userNameC">Lorem ipsum</span><span class="commentsOnUser">@Lorem ipsum dolor sit amet consectetur.</span>
     </p>
     <p class="commentsUser">
        <span class="userNameC">Lorem ipsum</span><span class="commentsOnUser">Lorem ipsum dolor sit amet consectetur.</span>
     </p>
     <p class="commentsUser">
        <span class="userNameC">Lorem ipsum</span><span class="commentsOnUser">@Lorem ipsum dolor sit amet consectetur.</span>
     </p>


   </div>
   <div class="imgp7">
     <p class="loadComments">
       Load more comments   <img src="../../../assets/image post/loadings home.png" alt="">
     </p>
   </div>
   <div class="imgp8">
     <div class="commentHereDiv">
        <input type="text" class="commentHere" placeholder="Add a comment">
     </div>
     <div class="threeDotDiv"><span class="threedot"><img src="../../../assets/image post/threeDot.png" alt=""></span></div>
   </div>

</div>
