<div class="newMessage">
  <div class="header">
      <span class="textNewMessage">
        New message
      </span>
  </div>
  <div class="body">
   <div class="messageHolder">
      <div class="messageHeader">
          <div class="messageImageName">
            <div class="MINDiv">
            <span class="imageM">  <img src="../../../assets/image post/teenp5.jpg" alt=""></span>
           <span class="nameTimetext">
             <span class="nameM">Adam Henary</span>
             <span class="timeM">2h ago</span>
           </span>
           <span class="replyM">
             <button>Reply</button>
           </span>
           <span class="blockM">
             <button>Block</button>
           </span>
           </div>
          </div>
          <div class="dateTime">
            <div class="DTMDiv">
             <span class="dateTimeLeft">
               <span class="timeLM">9:30 PM </span>
               <span class="dateLM">12/03/2019</span>
               <span class="logoLMNumber">
                 <img src="../../../assets/image post/newMesagetext.png" alt="">
                 <span class="numMessage">12</span>
               </span>
             </span>
          </div>
          </div>
      </div>
      <div class="mesageBody">
         <span class="MBody">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorum laudantium illo aspernatur aut expedita qui, ipsa enim tempore, laborum saepe exercitationem. Quo in amet nostrum modi laboriosam optio quas vitae illo, distinctio asperiores? Soluta.
         </span>
      </div>
   </div>
  </div>
  <div class="footer">
   <div class="loadMore">
     <button>Load More</button>
   </div>
  </div>
</div>
