<div class="fRequest">
  <div class="fLeft">
<div class="followRequestHolder">
  <div class="f1">



   <img src="../../../assets/image post/teenp7.jpg" alt="">
    <span class="fname">Elon Musk</span>
    <span class="text">started following you | 1 day</span>
    <span class="fButton">
      <button>Hello</button>
    </span>

  </div>

</div>




<div class="followRequestHolder">
    <div class="f1">



     <img src="../../../assets/image post/teenp7.jpg" alt="">
      <span class="fname">Elon Musk</span>
      <span class="text">started following you | 1 day</span>
      <span class="fButton">
        <button>Hello</button>
      </span>

    </div>

  </div>



  <div class="followRequestHolder">
      <div class="f1">



       <img src="../../../assets/image post/teenp7.jpg" alt="">
        <span class="fname">Elon Musk</span>
        <span class="text">started following you | 1 day</span>
        <span class="fButton">
          <button>Hello</button>
        </span>

      </div>

    </div>



    <div class="followRequestHolder">
        <div class="f1">



         <img src="../../../assets/image post/teenp7.jpg" alt="">
          <span class="fname">Elon Musk</span>
          <span class="text">started following you | 1 day</span>
          <span class="fButton">
            <button>Hello</button>
          </span>

        </div>

      </div>



      <div class="followRequestHolder">
          <div class="f1">



           <img src="../../../assets/image post/teenp7.jpg" alt="">
            <span class="fname">Elon Musk</span>
            <span class="text">started following you | 1 day</span>
            <span class="fButton">
              <button>Hello</button>
            </span>

          </div>

        </div>



        <div class="followRequestHolder">
            <div class="f1">



             <img src="../../../assets/image post/teenp7.jpg" alt="">
              <span class="fname">Elon Musk</span>
              <span class="text">started following you | 1 day</span>
              <span class="fButton">
                <button>Hello</button>
              </span>

            </div>

          </div>





  </div>
  <div class="fRight">
<app-follow-suggestion></app-follow-suggestion>
  </div>
</div>
