<div class="newPeopleUpdate">
   <div class="listContainerNewPeople">
     <span class="imgProfile">
        <img src="../../../assets/profilePicture/teen9.jpg" alt="">
     </span>
     <span class="namePeople">Hero Hamada</span>
     <span class="fixedTitles">joined 1h ago</span>
   </div>


   <div class="listContainerNewPeople">
      <span class="imgProfile">
         <img src="../../../assets/profilePicture/teen9.jpg" alt="">
      </span>
      <span class="namePeople">Hero Hamada</span>
      <span class="fixedTitles">joined 1h ago</span>
    </div>
</div>
