<app-profile></app-profile>


<div class="createColl">
  <div>
  <div class="text1">Create Collection</div>
  <div class="text2">Vlof</div>
  </div>
</div>


<br>
<div class="pSavedHolder">
  <div class="p1">
   <span>MY COLLECTION 1</span>
  </div>
  <div class="p2">
  <img src="../../../../../../assets/thumb image/thumb image.png" alt="">
  </div>
  <div class="p3">
  <div class="p31">
    <img src="../../../../../../assets/thumb image/thumb lock.png" alt="">
  </div>
  <div class="p32">
   <span class="thumbMenuText">13</span>
   <span class="thumbMenuImage"><img src="../../../../../../assets/thumb image/thumb menu.png" alt=""></span>

  </div>
  </div>
</div>
