<div class="groupAddition">
   <div class="gHeader">
<div class="upperSecG">
     <div class="imageInputG">
       <span class="imageUploadG">
         <span class="imageArea">
                 Upload
         </span>
       </span>
       <span class="inputG">
         <input type="text" placeholder="Group Name">
       </span>
     </div>
     <div class="gTotalLimit">
       <span class="textLimitG">99/100</span>
     </div>
</div>

   </div>
   <div class="gBody">


       <div class="friendsListG">
         <div class="leftFrndG">
           <span class="imageFrenG">
             <img src="../../../assets/image post/teenp5.jpg" alt="">
           </span>
           <span class="nameAddFrenG">
             <span class="nameFrndG">Elon Musk</span>
             <span class="addFrndG">USA, New York</span>
           </span>
         </div>
         <div class="rightFrndG">
           <span class="buttonAdd">
             <button>Add</button>
           </span>
         </div>
       </div>


   </div>
   <div class="gFooter">
      <div class="loadMoreG">
          <img src="../../../assets/image post/loadMore.png" alt="">
       </div>
   </div>

</div>
