<app-navbar></app-navbar>

<!--   starting the profile content -->






<div class="row profileHolder">
  <div class="col-md-6 profileLeft">
    <div class="profilePicture">
        <img src="../../../../../assets/profilePicture/teenp1.jpg" alt="">
    </div>
    <div class="profileDetail">
       <p class="userName">@prasenjeet121</p>
       <p class="realName">Prasenjeet Symon</p>
       <p class="website">   <img src="../../../../../assets/profilePicture/wwwdot3.png" alt=""> www.prasenjeetCoder.com</p>
       <div class="relationDateBirth">
         <p class="relation">
        <img src="../../../../../assets/profilePicture/relationStatus.png" alt="">   Single
         </p>
         <p class="birth">
            14/02/1999
         </p>
       </div>

    </div>

  </div>
  <div class="col-md-6 profileRight">
      <div class="post">
         <div>
         <p class="num">3</p>
         <p class="postInside">post</p>
         </div>
      </div>
      <div class="follow">
          <div>
              <p class="num">3</p>
              <p class="followInside">follow</p>
           </div>
      </div>
      <div class="following">
          <div>
              <p class="num">3</p>
              <p class="followingInside">following</p>
           </div>
      </div>
      <div class="editProfile">
        <div class="editOption">
          <p>Edit Profile</p>
        </div>
      </div>
  </div>
</div>

<app-profile-tab></app-profile-tab>



