.header-single{
  display: flex;
  align-items: center;
  height:70px;
  background-color: #607D8B;
}
.add-to-group-image-single{
 float: left;
 margin-left: 7%;
}
.profile-picture-image-single{
  margin:0 auto;
}
.chat-setting-image-single{
  float: right;
  margin-right: 7%;
}
.add-to-group-single{
 width:33.333%;
}
.profile-picture-single{
  width:33.333%;
}
.chat-setting-single{
 width:33.3333%;
}
.add-to-group-image-single img{
  width:25px;
  height:25px;
}
.image-status-online img{
  height:45px;
  width:45px;
  border-radius: 100px;
  border: 1px solid blue;
  margin-right:1.4%;

}
.chat-setting-image-single img{
  height:27px;
  width:27px;

}
.image-profile-holder{
  margin:0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  width:100%;
}
.name-status-online-single span{
  display: block;
}

.profile-picture-image-single{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}
.textStatus{
 display: inline-flex;
 color:white;
}
.image-status-online{
  display: block;
  text-align: center;
}
/*  body   section */

.body-single{
  height:300px;
  background-color: #E8E8E8;
}


/* footer section */

.typer-single{
  width:98%;
  margin: 0 auto;
  height:45px;

 border-top:1px solid gray;
display: flex;
align-items: center;
}
.attach-footer-single{
width:15%;
}
.type-footer-single{
width:70%;
}
.send-footer-single{
width:15%;
}
.attachImg img{
  width:25px;
  height:25px;
}
.inputHolder input{
  width:100%;
  height:44px;
  border:0;
  background-color: #E8E8E8;
  text-align: center;
}
.inputHolder input:focus{
  outline: none;
}
.sendImg img{
  width: 25px;
  height:25px;
}
.sendImg{
  float: right;
}
.inputHolder{
  text-align: center;

  display: block;
}
.attachImg{
  margin-left:5%;
}
.sendImg{
  margin-right: 5%;
}
.footer-single{
  background-color: #E8E8E8;
}
