<div class="single-body-main">
    <div class="header-single">
      <div class="add-to-group-single">
        <span class="add-to-group-image-single">
          <img src="../../../../../assets/chat-room-icons/add-to-exiting-group.png" alt="">
        </span>
      </div>
      <div class="profile-picture-single">
         <span class="image-status-online">
           <img src="../../../../../assets/chat-room-icons/teen5.jpg" alt="">
           <span class="textStatus">online</span>
         </span>
      </div>
      <div class="chat-setting-single">
        <span class="chat-setting-image-single">
          <img src="../../../../../assets/chat-room-icons/chat-setting-ico.png" alt="">
        </span>
      </div>
    </div>
    <div class="body-single"></div>
    <div class="footer-single">
      <div class="typer-single">
          <div class="attach-footer-single">
                <span class="attachImg">
                  <img src="../../../../../assets/chat-room-icons/attach-ico.png" alt="">
                </span>
          </div>
          <div class="type-footer-single">
              <span class="inputHolder">
                <input type="text" placeholder="type here ...">
              </span>
          </div>
          <div class="send-footer-single">
     <span class="sendImg">
       <img src="../../../../../assets/chat-room-icons/send-message-ico.png" alt="">
     </span>
          </div>
      </div>
    </div>
</div>
