.headingsIconHolder{
display: flex;
align-items: center;
width:100%;
}
.colHeading{
  width:100%;
}
.headings{
  height: 65px;
  background-color:#EBEBEB;
display: flex;
align-items: center;
width:100%;

}



/* search result body */

.searchResultHolder{
  position: absolute;
  background-color:#EBEBEB;

  width:40%;
  margin:0 auto;

  z-index: 10;
  opacity: 1;
  left:30%;
  right: 30%;


}
.searchResultBodyHolder{
  width:100%;
  margin:0 auto;
  background-color:#EBEBEB;

  height:100%;
  opacity: 1;

}
.loadMoreResult{
  height:43px;
  background-color:#EBEBEB;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.textLoadMoreSecond{
  margin:0 auto;
}
.textLoadMore{
  font-size: 18px;
  font-weight: lighter;

}
/* search result body end here */


.iconHolder{
  width: 10%;
  text-align: center;
}
.iconHolder img{
  height:35px;
  width:35px;
}
.searchHolder{
width: 40%;

}
.searchHolder input{
  height:35px;
  width: 100%;
  border-radius: 100px;
  border: 0;
  text-align: center;
  color: gray;
}
.searchHolder input:focus{
  border-radius: 0;
}
