
<div class="row headings">
  <div class="col-sm-12 headingsIconHolder">

    <div class="iconHolder">
      <img src="../../../assets/navBarIcons/setting.png" alt="settings">
    </div>

    <div class="iconHolder">
      <img src="../../../assets/navBarIcons/ads.png" alt="ads details">
    </div>

    <div class="iconHolder">
        <img src="../../../assets/navBarIcons/msg.png" alt="message notification">
      </div>

      <div class="searchHolder">
         <input type="text" placeholder="search">
        </div>

      <div class="iconHolder">
          <img src="../../../assets/navBarIcons/notification.png" alt="notification">
        </div>

        <div class="iconHolder">
            <img src="../../../assets/navBarIcons/friend request ico.png" alt="friend request">
          </div>

          <div class="iconHolder">
              <img src="../../../assets/navBarIcons/user.png" alt="user profile">
            </div>


  </div>
</div>

