<div class="notificationArea">
  <div class="upperNA">
    <div class="textDivNA">
      <span class="textNoti">
        Notifications
      </span>
    </div>
  </div>
  <div class="lowerNA">
      <div class="notifiBody">
        <div class="leftNB">
          <span class="imageNB">
            <img src="../../../assets/image post/teenp5.jpg" alt="">
          </span>
          <span class="textTwoNB">
            <span class="text">Your friend harrish Shally commented on your post. Posted 2h ago</span>
            <span class="time">1h ago</span>
          </span>
        </div>
        <div class="rightNB">
          <span class="readButton">
            <button>Mark read</button>
          </span>
        </div>
      </div>
  </div>
</div>
