<div class="homePages">
    <div class="leftHome">
      <div class="leftArea">
        <div class="postArea">

            <div class="headerPostHome">

              <div class="textHomePost">
                <div class="imgTextHome">
                    <img src="../../../../assets/home-post-ico/text ico.png" alt="">
                    <span class="textText">TEXT</span>
                </div>

              </div>
              <div class="imagesPostHome">
                <div class="imgPhotosHome">
                    <img src="../../../../assets/home-post-ico/camera ico.png" alt="">
                      <span class="textPhotos">PHOTOS</span>
                </div>

              </div>
              <div class="videosHomePost">
                <div class="imgVideosHome">
                    <img src="../../../../assets/home-post-ico/video ico.png" alt="">
                    <span class="textVideos">VIDEO</span>

                </div>

              </div>
              <div class="linksPostHome">
                <div class="imgLinkHome">
                    <img src="../../../../assets/home-post-ico/link ico.png" alt="">
                    <span class="textLinks">LINK</span>
                </div>

              </div>
            </div>

            <div class="bodyPostHome"></div>

            <div class="footerPostHome">


              <div class="inLocationPost">
                <div class="checkBoxLoc">
                    <input type="checkbox" value="">
                    <span class="textLoca">include my location</span>
                </div>
              </div>



              <div class="incVisibleHome">
                <div class="visibleToAll">
                    <input type="checkbox" value="">
                    <span class="textVisAll">visible to everyone</span>
                </div>
              </div>



              <div class="postButtonHome">
                 <span class="postButton">
                    <button>Post</button>
                 </span>
              </div>


            </div>
        </div>



        <div class="feedArea">

        </div>
      </div>
    </div>
    <div class="rightHome">
      <app-home-online-distance></app-home-online-distance>
    </div>
</div>
