<div class="formSignUp">
     <div class="signUpBody">
          <div class="signUptextHolder">
            <p>Sign Up Now</p>
          </div>
      <div class="inputContainer">
        <input type="text" class="signUpInput"  placeholder="Username" >
       </div>
       <div class="inputContainer">
        <input type="email" class="signUpInput"  placeholder=" Email" >
       </div>

       <div class="inputContainer">
          <input type="password" class="signUpInput"  placeholder=" Password" >
          </div>

          <div class="inputContainer">
          <input type="password" class="signUpInput"  placeholder=" Password match" >
         </div>


         <div class="checkedBoxContainer">
            <input type="checkbox"> <span>I agree to term and service</span>
          </div>

        <div class="buttonContainer">
          <button type="submit" class="buttonSignUp">Register</button>
        </div>


     </div>
</div>
