
      <div class="mainPageBody">

        <span class="leftMainBody">
          <div class="listPeopleHolder">
                <span class="test">

                    <div class="listContainerNewPeople" *ngFor="let listPeople of listOfPeople">

                        <span class="imgProfile">
                           <img src="{{listPeople.profilePicture}}" alt="{{listPeople.nameOfPerson}}">
                        </span>
                        <span class="namePeople">{{listPeople.nameOfPerson}}</span>
                        <span class="fixedTitles">joined {{listPeople.timeOfJoining}}h ago</span>

                      </div>

                </span>
          </div>
      </span>

        <span class="rightMainBody">
               <div class="logoHolder">
                  <div class="loginHolder">

                    <input type="text" class="userNameLogin" placeholder="username,email">
                    <input type="password" class="passwordLogin"  placeholder="password">
                    <button class="buttonLogin" >Log in</button>
                  </div>
               </div>
               <div class="sloganHolder">
                      <div class="sloganBody">
                        <span class="imgLogo">
                          <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" alt="">
                        </span>
                        <span class="text1">Connecting people around world</span>
                        <span>Securily</span>
                      </div>

               </div>
               <div class="formSignUpHolder">
                 <app-sign-up></app-sign-up>

               </div>
        </span>
        <div class="downInfo" >

          <span *ngFor= "let downListText of downListTexts" class="text1">{{downListText}}</span>
        </div>
      </div>



