.mainPageBody{
   height:100%;
   width:100%;
   background-color: #EBEBEB;
  position: absolute;


}

.rightMainBody{

  width:50%;
  background-color: brown;
   height:95%;
   float: right;
   border-bottom:1px solid gray;
}


.listPeopleHolder{
  display: flex;
  align-items: center;

  background-color: #607D8B;
  margin:0 auto;
  width: 90%;
}

.leftMainBody{
   float: left;
  width:50%;
  background-color: aqua;
  height:95%;
   padding-top:3%;
   padding-bottom:3%;
   background-color: #607D8B;
  display: flex;
  align-items: center;
  overflow-y: auto;
  border-bottom:1px solid gray;

}

.imgProfile img{
  height: 50px;
  width:50px;
  border-radius: 100px;
  border: 1px solid white;
  height: 55px;
  width:55px;
  border-radius:100px;
  border:1px solid white;
}

.imgProfile{
  margin-left:2%;

}

.namePeople{
  margin-left: 2%;
  color:white;
  font-size:18px;
  font-weight: 500;
}
.fixedTitles{
  margin-left: 2%;
  letter-spacing: 0.5em;
  word-spacing: 1.2em;
  font-style:italic;
  color:white;
}
.test{
  width:100%;
}
.listContainerNewPeople{
  width:80%;
  background-color: #607D8B;
  margin:0 auto;
  margin-top:2%;
  margin-bottom:2%;
}





.logoHolder{
  height:10%;
  background-color: #EBEBEB;
  display: flex;
  align-items: center;
}
.sloganHolder{
 height:25%;
 background-color: #EBEBEB;
}
.formSignUpHolder{
padding-top:30px;
 height: 65%;
 background-color: #EBEBEB;
}

.signText{
  text-align: center;
  margin-top:2%;
   color:darkblue;
   font-weight: 500;
   border-top:1px solid gray;
   width:30%;
   margin:0 auto;
}


.sloganBody{
  margin:0 auto;
  width:80%;
  background-color: #EBEBEB;

}
.sloganHolder{
  display: flex;
  align-items: center;
}
.sloganBody span{
  display: block;
  font-weight: 700;
  font-size: 27px;
    line-height: 32px;
    padding-top:7px;



}
.imgLogo img{
  height:45px;
  height:45px;
}
.loginHolder{
  margin:0 auto;
  width: 80%;
  background-color: #EBEBEB;
display: flex;
align-items: center;
}
.userNameLogin{
    height:40px;
    width:40%;
    margin-right:20px;
    padding-left:5px;
    outline-color: #607D8B;


}
.passwordLogin{
height:40px;
    width:40%;
    margin-right:20px;
    padding-left:5px;
    outline-color: #607D8B;

}
.buttonLogin{
  height:40px;
  width:110px;
  border:2px solid  #607D8B;
  border-radius: 100px;
  background-color: #EBEBEB;
  outline: none;
  color: #607D8B;
  font-weight: 500;
}


.downInfo{
  width:90%;
  height:5%;
  background-color: #EBEBEB;
 display: flex;
 align-items: center;
 margin:0 auto;


}
.downInfo span{
  flex-grow: 1;
  font-size: 12px;
 font-weight: 500;
 color:gray;

}
