<div class="onlineDistance">
  <div class="userOnlineArea">
    <div class="leftUserArea">
      <span class="imgUserArea">
        <img src="../../../../assets/image post/teenp7.jpg" alt="">
      </span>
      <span class="nameOnline">
        <span class="nameArea">Prasenjeet121</span>
        <span class="onlineArea">Online</span>
      </span>
    </div>
    <div class="rightUserArea">
      <span class="icoOffOn">
        <img src="../../../../assets/home-post-ico/off ico.png" alt="">
      </span>
    </div>
  </div>
  <div class="logoArea">
    <div class="logoLeft">
      <span class="imgLogoPosi">
        <img src="../../../../assets/home-post-ico/location ico.png" alt="">
      </span>
    </div>
    <div class="logoRight">
      <span class="rightSeeAll">
        See All
      </span>
    </div>
  </div>



<div class="frndListArea">
  <div class="frndLeftAreaL">
    <span class="imgL">
      <img src="../../../../assets/image post/teenp5.jpg" alt="">
    </span>
    <span class="nameOnlineL">
      <span class="textNameL">Robert Downey</span>
      <span class="textDistance">45 m</span>
    </span>
  </div>
  <div class="frndRightAreaL">
    <span class="textOnlineR">online</span>
  </div>
</div>



<div class="frndListArea">
    <div class="frndLeftAreaL">
      <span class="imgL">
        <img src="../../../../assets/image post/teenp5.jpg" alt="">
      </span>
      <span class="nameOnlineL">
        <span class="textNameL">Robert Downey</span>
        <span class="textDistance">45 m</span>
      </span>
    </div>
    <div class="frndRightAreaL">
      <span class="textOnlineR">online</span>
    </div>
  </div>



<div class="frndListArea">
    <div class="frndLeftAreaL">
      <span class="imgL">
        <img src="../../../../assets/image post/teenp5.jpg" alt="">
      </span>
      <span class="nameOnlineL">
        <span class="textNameL">Robert Downey</span>
        <span class="textDistance">45 m</span>
      </span>
    </div>
    <div class="frndRightAreaL">
      <span class="textOnlineR">online</span>
    </div>
  </div>



<div class="frndListArea">
    <div class="frndLeftAreaL">
      <span class="imgL">
        <img src="../../../../assets/image post/teenp5.jpg" alt="">
      </span>
      <span class="nameOnlineL">
        <span class="textNameL">Robert Downey</span>
        <span class="textDistance">45 m</span>
      </span>
    </div>
    <div class="frndRightAreaL">
      <span class="textOnlineR">online</span>
    </div>
  </div>
</div>
